/*Site colour palette =
http://www.color-hex.com/color-palette/54871
 #22758e (34,117,142) - Blue
 #b63b3b (182,59,59) - Red
 #f9c414 (249,196,20) - Yellow
 #e3e8e6 (227,232,230) - Whitish
 #4c4555 (76,69,85) - Dark brown


Images courtesy of www.pexels.com
 */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    /*max-height: 400px;*/
    margin-left: auto;
    margin-right: auto;
}
.container > div{
    margin: 10px;
}

#img1, #img2{
    /*max-width: 200px;*/
    /*background-color: #f9c414;*/
}

#txt1, #txt2{
    padding: 10px;
    text-align: justify;
    color: #b63b3b;
    background-color: #e3e8e6;

}
@media (max-width:600px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .container > div{
        margin: 5px;
    }

    #img1, #img2{
        margin-left: auto;
        margin-right: auto;
    }

    #txt1, #txt2{
        padding: 5px;
        text-align: justify;
        color: #b63b3b;
        background-color: #e3e8e6;

    }
}