/*Site colour palette =
http://www.color-hex.com/color-palette/54871
 #22758e (34,117,142) - Blue
 #b63b3b (182,59,59) - Red
 #f9c414 (249,196,20) - Yellow
 #e3e8e6 (227,232,230) - Whitish
 #4c4555 (76,69,85) - Dark brown

 */
.footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #22758e;
}

.footer > div{
    color: #e3e8e6;
    text-align: center;
    padding: 5px;
}

.footer > div > a:link, a:visited {
    text-decoration: none;
    color: #e3e8e6;
}

.footer > div > a:hover, a:active{
    text-decoration: underline;
    color: #b63b3b;
}