/*Site colour palette =
http://www.color-hex.com/color-palette/54871
 #22758e (34,117,142) - Blue
 #b63b3b (182,59,59) - Red
 #f9c414 (249,196,20) - Yellow
 #e3e8e6 (227,232,230) - Whitish
 #4c4555 (76,69,85) - Dark brown

 */
.imgcontainer{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 800px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.container > div{

}
#images{
    height: 200px;
    max-width: 800px;
    background-color: #f9c414;
}

#columns{
    padding: 10px;
    column-count: 2;
    text-align: justify;
    color: #b63b3b;
    background-color: #e3e8e6;

}
#social{

}
