/*Site colour palette =
http://www.color-hex.com/color-palette/54871
 #22758e (34,117,142) - Blue
 #b63b3b (182,59,59) - Red
 #f9c414 (249,196,20) - Yellow
 #e3e8e6 (227,232,230) - Whitish
 #4c4555 (76,69,85) - Dark brown

 */
body{
    background-color: #e3e8e6;
    font-family: 'Nunito Sans', sans-serif;
}
.header-flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
input[type=button], input[type=submit] {
    background-color: #b63b3b;
    color: #e3e8e6;
    padding: 5px;
    border: none;
    font-size: inherit;
}
input[type=submit]:hover {
    background-color: #f9c414;
    color: #b63b3b;
}
#login{
    max-width: 200px;
    flex-direction: row;
    color: #b63b3b;
}
#login > a:link, a:visited{
    color: #e3e8e6;
    background-color: #b63b3b;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    text-decoration: none;
}

#login > a:hover, a:active {
    color: #b63b3b;
    background-color: #f9c414;
}


#cookiemonster {
    background-color: #f9c414;
    color: #4c4555 ;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: #22758e;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#navbar > div{
    height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: -20px;
    background-color: #b63b3b;
    color: #e3e8e6;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #f9c414;
    border-radius: 25px 0 0 0;
}
#navbar > div:hover{
    background-color: #f9c414;
}
#navbar > div > a:link, a:visited {
    color: #e3e8e6;
    padding-left: 40px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 20px;
    text-decoration: none;
}
#navbar > div > a:hover, a:active {
    color: #b63b3b;
}


#colourtest{
    flex-direction: column;
}

#colour1{
    width: 20px;
    height: 20px;
    background-color:#22758e ;
}
#colour2{
    width: 20px;
    height: 20px;
    background-color:#b63b3b ;
}
#colour3{
    width: 20px;
    height: 20px;
    background-color:#f9c414 ;
}
#colour4{
    width: 20px;
    height: 20px;
    background-color:#e3e8e6 ;
}
#colour5{
    width: 20px;
    height: 20px;
    background-color:#4c4555 ;
}

@media (max-width:600px) {
    .header-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    #logo {
        margin-left: auto;
        margin-right: auto;
    }
    input[type=button], input[type=submit] {
        background-color: #b63b3b;
        color: #e3e8e6;
        padding: 5px;
        border: none;
        font-size: inherit;
    }
    input[type=submit]:hover {
        background-color: #f9c414;
        color: #b63b3b;
    }
    #Login {
        margin-left: auto;
        margin-right: auto;
    }
    #login{
        max-width: 600px;
        flex-direction: row;
        color: #b63b3b;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #login > a:link, a:visited{
        color: #e3e8e6;
        background-color: #b63b3b;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 5px;
        text-decoration: none;
    }

    #login > a:hover, a:active {
        color: #b63b3b;
        background-color: #f9c414;
    }

    #cookiemonster {
        background-color: #f9c414;
        color: #4c4555 ;
        padding: 2px;
        margin-left: auto;
        margin-right: auto;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #22758e;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #navbar > div{
        height: 20px;
        margin: 5px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: #b63b3b;
        color: #e3e8e6;
        padding-top: 2px;
        padding-bottom: 2px;
        border: 1px solid #f9c414;
        border-radius: 10px 0 0 0;
    }
    #navbar > div:hover{
        background-color: #f9c414;
    }
    #navbar > div > a:link, a:visited {
        color: #e3e8e6;
        padding-left: 40px;
        padding-bottom: 7px;
        padding-top: 7px;
        padding-right: 50%;
        text-decoration: none;
    }
    #navbar > div > a:hover, a:active {
        color: #b63b3b;
    }

    #colourtest{
        flex-direction: row;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #colour1{
        width: 20px;
        height: 20px;
        background-color:#22758e ;
    }
    #colour2{
        width: 20px;
        height: 20px;
        background-color:#b63b3b ;
    }
    #colour3{
        width: 20px;
        height: 20px;
        background-color:#f9c414 ;
    }
    #colour4{
        width: 20px;
        height: 20px;
        background-color:#e3e8e6 ;
    }
    #colour5{
        width: 20px;
        height: 20px;
        background-color:#4c4555 ;
    }
}