/*Site colour palette =
http://www.color-hex.com/color-palette/54871
 #22758e (34,117,142) - Blue
 #b63b3b (182,59,59) - Red
 #f9c414 (249,196,20) - Yellow
 #e3e8e6 (227,232,230) - Whitish
 #4c4555 (76,69,85) - Dark brown

 */
.profile-flex-c{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: #b63b3b;
}
.profile-flex-c > div {
    margin: 10px;
}
#error_box{
    background-color: #f9c414;
    color: #4c4555 ;
    margin: 20px;
    padding: 10px;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#lh-column{
    flex-direction: column;
    flex-grow: 1;
    /*background-color: #f9c414;*/
    margin-right: 10px;
}
#profile-pic > img{
    display: block;
}

#details{
    margin-top: 20px;
    flex-direction: column;
    padding: 5px;
}

#details-column{
    flex-grow: 3;
    max-width: 600px;
    background-color: #e3e8e6;

    padding: 5px;
}