/*Site colour palette =
http://www.color-hex.com/color-palette/54871
 #22758e (34,117,142) - Blue
 #b63b3b (182,59,59) - Red
 #f9c414 (249,196,20) - Yellow
 #e3e8e6 (227,232,230) - Whitish
 #4c4555 (76,69,85) - Dark brown

 */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #22758e;
    max-width: 1000px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container > div {
    background-color: #e3e8e6;
    padding: 10px;
    flex-grow: 4;
}
#controls {
    flex-direction: column;
    flex-grow: 1;
    align-content: space-around;
    margin-right: 10px;
}

#projectlist > img {
    width: 200px;
    height: 200px;
    background-color: #f9c414;
}