/*Site colour palette =
http://www.color-hex.com/color-palette/54871
 #22758e (34,117,142) - Blue
 #b63b3b (182,59,59) - Red
 #f9c414 (249,196,20) - Yellow
 #e3e8e6 (227,232,230) - Whitish
 #4c4555 (76,69,85) - Dark brown

 */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #22758e;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container > div {
    background-color: #e3e8e6;
    padding: 10px;
    flex-grow: 4;
}
.table {
    table-layout: auto;
}
.desc {
    text-align: justify;
}
#controls {
    flex-direction: column;
    flex-grow: 1;
    align-content: space-around;
    margin-right: 10px;
}
#controls > a:link, a:visited {
    color: #e3e8e6;
    background-color: #b63b3b;
    margin-top: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

#controls > a:hover {
    background-color: #f9c414;
    color: #b63b3b;
}

td > a:link, a:visited {
    color: #e3e8e6;
    background-color: #b63b3b;
    margin-top: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

td > a:hover {
    background-color: #f9c414;
    color: #b63b3b;
}


#projectlist {
    flex-shrink: 0;
    max-width: 800px;
}

#projectlist > table {
    border-collapse: collapse;
    border: 1px solid #b63b3b;
}

tr, td {
    border: 1px solid #b63b3b;
    text-align: justify;
    padding: 10px;
}
td > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-color: #f9c414;
}
